{% extends "base.jinja2" %}
{% block main %}
    <h3>About Us</h3>
	<p>
		Contact:
		<span class="email" data-user="toor" data-domain="lp.rebycnk"/>
	</p>

	<h4>President</h4>
	<ul>
		<li>Adam 'Bonus' Kliś</li>
		<li>Student at Warsaw University of Technology</li>
		<li>Security Engineer @ <a href="https://cert.pl">CERT Polska</a></li>
		<li>Plays CTF with <a href="https://p4.team">p4.team</a></li>
		<li><a href="https://bonusplay.pl">website</a></li>
		<li><span class="email" data-user="toor" data-domain="lp.yalpsunob"/></li>
	</ul>

	<h4>Vice-President</h4>
	<ul>
		<li>Mateusz Nosek</li>
		<li>Student at Warsaw University of Technology</li>
		<li>Security Researcher + assessment + Engineer > 2 years</li>
		<li>Interested in low level security - OS kernel, CPU microarchitectures</li>
		<li>Reads linux kernel to bed</li>
		<li><span class="email" data-user="0kesonzsuetam" data-domain="moc.liamg"/></li>
	</ul>

	<h4>Secretary</h4>
	<ul>
		<li>Krzysiek 'RouNdeL' Zdulski</li>
		<li>Student at Warsaw University of Technology</li>
		<li>Used to do IoT, SmartHome - AVR, ESP, etc.</li>
		<li>Now interested in read teaming, pwn, reversing</li>
		<li><span class="email" data-user="lednnuor" data-domain="moc.liamg"/></li>
	</ul>

	<h4>Supervisor</h4>
	<ul>
		<li>Jędrzej Bieniasz</li>
		<li>Cyberfreak for over 6 years</li>
		<li>Interested in detection engineering, bue & purple teaming and applied cybersecurity research</li>
		<li>Legend says he knows something and he did something somewhere...</li>
		<li><span class="email" data-user="zsaineiB.jezrdeJ" data-domain="lp.ude.wp"/></li>
	</ul>
{% endblock %}
