<!DOCTYPE html>
<html>
<head>
    <!-- Primary Meta Tags -->
    <title>KN Cyber</title>
    <meta name="title" content="KN Cyber">
    <meta name="description" content="Koło Naukowe Cyberbezpieczeństwa">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kncyber.pl">
    <meta property="og:title" content="KN Cyber">
    <meta property="og:description" content="Koło Naukowe Cyberbezpieczeństwa">
    {#<meta property="og:image" content="/img/banner.png">#}

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://kncyber.pl">
    <meta property="twitter:title" content="KN Cyber">
    <meta property="twitter:description" content="Koło Naukowe Cyberbezpieczeństwa">
    {#<meta property="twitter:image" content="/img/banner.png">#}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/brands.min.css">
    <link rel="stylesheet" href="/flexboxgrid2.css">
    <link rel="stylesheet" href="/pygment-min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="navbar">
        <h1>KN Cyber</h1>
        <ul class="link-list">
            <li>
                <a href="/">home</a>
            </li>
            <li class="spacer">/</li>
            <li>
                <a href="/publications">publications</a>
            </li>
            <li class="spacer">/</li>
            <li>
                <a href="/writeups">writeups</a>
            </li>
            <li class="spacer">/</li>
            <li>
                <a href="/about">about</a>
            </li>
    </ul>
    </div>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>
