{% extends "base.jinja2" %}
{% block main %}
	<h3>Events</h4>
	
	<ul>
		<li>Mondays 18:15 - CTF themed</li>
		<li>Thursdays 19:00 - everything else</li>
		<li>on MS Teams</li>
	</ul>

	<p>upcoming:</p>
	<ul>
        <li>TBD</li>
	</ul>

	<p>past:</p>
	<ul>
		<li>19/11/2020 - A few stories about Virtual Machine Introspection and malware monitoring</li>
		<li>16/11/2020 - Binary Exploitation Workshop 1</li>
		<li>12/11/2020 - Open area (member presentations</li>
		<li>09/11/2020 - Reverse Engineering Workshop 2</li>
		<li>05/11/2020 - Wide view on Cybersecurity landscape - challanges and solutions</li>
		<li>02/11/2020 - Introduction to x86 assembly</li>
		<li>29/10/2020 - What do we know for sure?</li>
		<li>22/10/2020 - Introduction to Python</li>
		<li>15/10/2020 - Reverse Engineering workshop 1</li>
		<li>08/10/2020 - Introduction to Science Club</li>
	</ul>

    <h3>Useful links</h4>
    <ul>
    	<li><a href="https://ctfd.krzysh.pl">CTFd</a></li>
    </ul>
{% endblock %}
